<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.commands">
      <category
            name="Code Review Tool"
            id="Test.commands.category">
      </category>
      <command
            name="Start Review"
            categoryId="Test.commands.category"
            id="Test.commands.sampleCommand">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            commandId="Test.commands.sampleCommand"
            class="reviewer.handlers.MainHandler">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="Test.commands.sampleCommand"
            contextId="org.eclipse.ui.contexts.window"
            sequence="M1+6"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration">
      </key>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu?after=additions">
         <menu
               label="Code Review Tool"
               mnemonic="M"
               id="Test.menus.sampleMenu">
            <command
                  commandId="Test.commands.sampleCommand"
                  mnemonic="S"
                  id="Test.menus.sampleCommand">
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            locationURI="toolbar:org.eclipse.ui.main.toolbar?after=additions">
         <toolbar
               id="Test.toolbars.sampleToolbar">
            <command
                  commandId="Test.commands.sampleCommand"
                  icon="icons/icon.png"
                  tooltip="Review"
                  id="Test.toolbars.sampleCommand">
            </command>
         </toolbar>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="Test"
            name="Code Review">
      </category>
      <view
            category="Test"
            class="reviewer.views.SampleView"
            icon="icons/icon.png"
            id="test.views.SampleView"
            name="Code Review">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.jdt.ui.JavaPerspective">
         <view
               id="test.views.SampleView"
               ratio="0.5"
               relationship="right"
               relative="org.eclipse.ui.views.ProblemView">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.help.contexts">
      <contexts
            file="contexts.xml">
      </contexts>
   </extension>

</plugin>
